{
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/assets/(.*)$",
    "^@/utils/(.*)$",
    "^@/services/(.*)$",
    "^@/types/(.*)$",
    "^@/providers/(.*)$",
    "^@/store/(.*)$",
    "^@/hooks/(.*)$",
    "^@/meta/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}