.avatar {
  @apply rounded-full flex items-center justify-center relative;
  border: 2px solid rgba(255, 255, 255, 0.4);
  width: 57px;
  height: 57px;

  &.white {
    border: 2px solid rgba(255, 255, 255, 0.5);

    .isVerified {
      @apply text-white;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    @apply rounded-full;
  }
  > span {
    @apply rounded-full relative;
  }

  .isVerified {
    @apply text-blue-500 text-xs absolute bottom-0 right-0;
  }
}
